*.aps
*.aux
*.dep
*.dll
*.exe
*.exp
*.faq
*.fdb_latexmk
*.fls
*.idb
*.idx
*.ilg
*.ilk
*.ind
*.lib
*.log
*.manifest
*.ncb
*.o
*.obj
*.old
*.orig
*.out
*.pch
*.pdb
*.ptc
*.pyc
*.res
*.sbf
*.so
*.so.*
*.stash
*.suo
*.swp
*.synctex.gz
*.tl*
*.toc
*.zip
*_wrap*
*autosave*
*pro.user*
*ropeproject*
*vcproj.*
*~
.breakpoints
.depend
.tup
.ycm_extra_conf.py
BuildLog.htm
Thumbs.db
a.out
build*
build-debug
build-release
build/*
compile_commands.json
doc/eBooks
doc/html
doc/manual/manual.pdf
doc/tex/faq.pdf
doc/tex/snip.pdf
doc/theory
eakins
lblastpit
local
moc_*
src/capture/capture
src/inkscape/external
src/libbp/blastpy.py
src/libbp/t_common.h
src/testchamber/network/{client,server}
sub/eclipse-paho-mqtt-c-win32-1.3.0
t_*_x
utils/dedup/dp
veho
