*.a
*.aps
*.aux
*.bbl
*.bcf
*.blg
*.dep
*.dll
*.exe
*.exp
*.faq
*.fdb_latexmk
*.fls
*.idb
*.idx
*.ilg
*.ilk
*.ind
*.lib
*.log
*.manifest
*.ncb
*.o
*.obj
*.old
*.orig
*.out
*.pch
*.pdb
*.ptc
*.pyc
*.res
*.run.xml
*.sbf
*.so
*.so.*
*.stash
*.suo
*.tl*
*.toc
*.zip
*_wrap*
*autosave*
*pro.user*
*ropeproject*
*vcproj.*
*~
.breakpoints
.depend
.env
.tags*
.tup
BuildLog.htm
Thumbs.db
a.out
build
compile_commands.json
doc/html
doc/manual/*.gz
doc/manual/blastpit.pdf
doc/manual/manual.pdf
doc/reference_manuals/*.pdf
doc/tex/faq.pdf
doc/tex/snip.pdf
doc/theory
gdb.txt
res/bin/wscli
res/cfg/myconfig.py
res/cfg/t_common.h
src/libblastpit/blastpy.py
src/lmos/Makefile
src/submodules
src/video/eakins
src/video/veho
src/webapp/hello.html
src/webapp/hello.js
src/webapp/hello.wasm
sub
t_*_x
worktree
zig-cache
