*.aps
*.aux
*.dep
*.dll
*.exe
*.exp
*.faq
*.idb
*.idx
*.ilg
*.ilk
*.ind
*.lib
*.log
*.manifest
*.ncb
*.o
*.obj
*.orig
*.out
*.pch
*.pdb
*.ptc
*.pyc
*.res
*.sbf
*.suo
*.swp
*.tl*
*.toc
*autosave*
*pro.user*
*ropeproject*
*vcproj.*
*~
.depend
.ycm_extra_conf.py
BuildLog.htm
Thumbs.db
a.out
build*
build-debug
build-release
build/*
compile_commands.json
doc/html
doc/man
doc/manual/manual.pdf
doc/tex/faq.pdf
doc/tex/snip.pdf
local
src/testchamber/network/.qmake.stash
src/testchamber/network/moc_*
src/testchamber/network/{client,server}
utils/dedup/dp
*.fdb_latexmk
*.fls
*.synctex.gz
